@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel|Just+Me+Again+Down+Here|Montez|Nothing+You+Could+Do|Patrick+Hand|Poiret+One');
*{ 
  margin:0;
  padding:0;
}

html,body{
  width: 100%;
  /*height:100%;*/
  background-color: #06051E;
    font-family: 'Roboto', sans-serif;
}

#bodySkroll{
  width: 100%;
  /*height: 100%;*/
  /*position: absolute;*/
  z-index: 0;
  /*top: 0;*/
}
  
#BGplan1{
  width: 100%;
  /*height: 100%;*/
  background-image: url(imgIntro/BGplan1.png);
  background-repeat: repeat;
  background-size: 100%;
}
#BGplan2{
  width: 100%;
  /*height: 100%;*/
  background-image: url(imgIntro/BGplan2.png);
  background-repeat: repeat;
  background-size: 70%;
  background-position: 50% 50%;
}
#BGplan3{
  width: 100%;
  /*height: 100%;*/
  background-image: url(imgIntro/BGplan3.png);
  background-repeat: repeat;
  background-size: 50%;
  background-position: 50% 50%;

}
/*-----------------------------------------*/
/*      LOAD                          */
/*-----------------------------------------------------------*/
@-webkit-keyframes changes {
0% { background-color: #7a7a9b;}
10% { background-color: #ae97b1;}
20% {background-color: #6e6c6c;}
30% { background-color: #485858;}
40% { background-color: #7a9b85;}
50% {background-color: #b7b1a8;}
60% { background-color: #999b7a;}
70% { background-color: #705b5a;}
80% { background-color: #584858;}
90% {background-color: #4d5151;}
100% { background-color: #7a7a9b;}
}
@keyframes changes {
0% {background-color: #7a7a9b;}
10% { background-color: #ae97b1;}
20% { background-color: #6e6c6c;}
30% {background-color: #485858;}
40% {background-color: #7a9b85;}
50% { background-color: #b7b1a8;}
60% {background-color: #999b7a;}
70% { background-color: #705b5a;}
80% {background-color: #584858;}
90% {background-color: #4d5151;}
100% {background-color: #7a7a9b;}
}
#oLoading:hover {
-webkit-animation-name: changes;
-webkit-animation-duration: 10s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
animation-name: changes;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

#oLoading{
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:100;
  background:#ae97b1;
}

#oLoading div{
  position:absolute;
  top:50%;
  left:50%;
  width:255px;
  height:242px;
  margin-left:-148px;
  margin-top:-107px;

  color:#fff;
  font-family:Arial;
  text-align:center;
}


#oLoading div img{
  width: 90%;
  position:relative;
  vertical-align:middle;
  top:-2px;
  margin:0 3px 0 0;
}


/*-----------------------------------------*/
/*    TOOLS                         */
/*-----------------------------------------------------------*/
.repere{
  min-height: 1px;
  text-align: center;
}
.space200{
  min-height: 200px;
}
.space300{
  min-height: 300px;
}
.space500{
  min-height: 500px;
}
.space1000{
  min-height: 1000px;
}



.hide{
  visibility : hidden;
}
.transparent{
  opacity: 0;
}
.clear{
  display: none;
}

.planete{
  opacity: 1;
  -webkit-transition: opacity 1s ease; 
  transition: opacity 1s ease;
}
.planete:hover{
  opacity: 0;
}

/*-----------------------------------------*/
/*    SCENE 1 : PRESENTATION                         */
/*-----------------------------------------------------------*/
.scene1{
  width: 100%;
  height: 500px;
}
/*
.banniereTop{
  width: 100%;
  height: 230px;
  background-image: url(imgIntro/banniereIntroSite.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  margin-top: -60px;

}*/
/*#texteIntro{
    width: 1000px;
  margin: 0 auto;
  display: block;
  position: relative;
}*/
.containerTexteIntro{
  width: 250px;
  height: 500px;
  background-color: #fff;
  display: block;
  position: relative;
  margin-top: -320px;
  margin-left: 52px
}
.containerTexteIntro p{
  padding: 32px 37px;
  text-align: justify;
}


.containerMedio{
  width: 1000px;
  margin: 0 auto;
}
h1{
  /*width: 200px;*/
  margin: 0 auto;
  margin-top: -300px;
  display: block;
  position: relative;
  font: bold 90px 'Nothing You Could Do', sans-serif;
  text-align: center;
  color: #fff;
}
h2{
   margin: 0 auto;
  /*margin-top: -300px;*/
  display: block;
  position: relative;
  font: normal 25px 'Poiret One', sans-serif;
  text-align: center;
  color: #fff;
}
/*.containerMedio p{
  margin-top: -190px;
  display: block;
  position: relative;
}*/

#medioPlanete{
  width: 500px;
  margin-left: 250px;
  margin-top: -635px;
  display: block;
  position: relative;
}
#medioHalo{
  width: 800px;
  margin-left: 100px;
  display: block;
  animation: animationBreath ease-in 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationBreath ease-in 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationBreath ease-in 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationBreath ease-in 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationBreath ease-in 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
/*#repereBlocText{
  margin-top: -32px;
}
.planeteS1{
  width: 1000px;
  height: 58%;
  min-height: 200px;
  margin: 0 auto;
  position: relative;
}*/
/*.planeteS1 img{
    display: block;
}*/
/*
.vortasgoth{
  width: 410px;
  height: 400px;
  display: block;
}
.vortasgoth img{
  position: absolute;
  width: 40%;
}

#vortasgothPsion{    
  -webkit-animation:animationRotateD 10s linear infinite;
  -moz-animation:animationRotateD 10s linear infinite;
  animation:animationRotateD 10s linear infinite;
}
#vortasgothBD{    
  -webkit-animation:animationRotateG 4s linear infinite;
  -moz-animation:animationRotateG 4s linear infinite;
  animation:animationRotateG 4s linear infinite;
  }
#vortasgothAutre{ 
  -webkit-animation:animationRotateD 1s linear infinite;
  -moz-animation:animationRotateD 1s linear infinite;
  animation:animationRotateD 1s linear infinite;}


.husphel{
  margin: -163px 0px 0px 750px;
}
.husphel img{
  position: absolute;
  width: 15%;
}

#nune{
  width: 2%;
  margin: 0px 0px 0px 929px;
}
#flux1S1{
  width: 59%;
  margin: -290px 0px 0px -258px;
}
#flux2S1{
  margin: -684px 0px 0px 302px;
}
#flux3S1{
  margin: -529px 0px 0px 864px;
}

.blocText{
  width: 1000px;
  margin: 0 auto;
}
*/
/*#containtBoxIntro{
  width: 293px;
  margin-left: 350px;
  display: block;
  position: absolute;
  z-index: 9999;
}*/
/*
#boxIntro{
  width: 293px;
  background-color: #6AEAFC;
  border-radius: 10px;
  padding: 10px 15px;
  position: absolute;
  display: block;
  margin-left: 350px;
  z-index: 9999;
}
#boxIntro p{
  font-size: 10px;
}
.cellule{
  display: block;
  position: absolute;
}
#cellule1{
  margin-top: -27px;
  margin-left: -20px;
}
#cellule2{
  margin-top: -20px;
  margin-left: 149px;
}
#cellule3{
  margin-top: 41px;
  margin-left: 136px;
}
#cellule4{
  margin-top: 45px;
  margin-left: -17px;
}


.flux{
  animation: animationFrames ease-in 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease-in 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames ease-in 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames ease-in 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease-in 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
*/


/*-----------------------------------------*/
/*    SCENE 2 : TERRE                         */
/*-----------------------------------------------------------*/
.scene2{
  width: 100%;
  height: 1200px;
}
.containerTerre{
  width: 100%;
  height: 2000px;
  margin-top: -475px;
  overflow: hidden;
}
.terre{
  width: 300%;
  height: 100%;
  border-radius: 50%;
  /*background-color: #06051E;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06051e+1,06051e+100&1+0,1+56,0.93+62,0.78+65,0+70 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(6,5,30,1) 0%, rgba(6,5,30,1) 1%, rgba(6,5,30,1) 56%, rgba(6,5,30,0.93) 62%, rgba(6,5,30,0.78) 65%, rgba(6,5,30,0) 70%, rgba(6,5,30,0) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(6,5,30,1) 0%,rgba(6,5,30,1) 1%,rgba(6,5,30,1) 56%,rgba(6,5,30,0.93) 62%,rgba(6,5,30,0.78) 65%,rgba(6,5,30,0) 70%,rgba(6,5,30,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(6,5,30,1) 0%,rgba(6,5,30,1) 1%,rgba(6,5,30,1) 56%,rgba(6,5,30,0.93) 62%,rgba(6,5,30,0.78) 65%,rgba(6,5,30,0) 70%,rgba(6,5,30,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06051e', endColorstr='#0006051e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  margin-left: -570px;
  /*position: relative;*/
}
.terre img{
  /*position: absolute;*/

  display: block;
}
#medioHaut{
  width: 68%;
  /*margin-top: -100px;*/
  margin-left: 68px;
  -webkit-animation:animationRotateG 20s linear infinite;
  -moz-animation:animationRotateG 20s linear infinite;
  animation:animationRotateG 20s linear infinite;
}
#medioPsion{
  width: 40%;
  margin-top: -3100px;
  margin-left: 600px;
  -webkit-animation:animationRotateD 10s linear infinite;
  -moz-animation:animationRotateD 10s linear infinite;
  animation:animationRotateD 10s linear infinite;
}
#medioBD{
  width: 20%;
  margin-top: -1450px;
  margin-left: 1100px;
  -webkit-animation:animationRotateG 6s linear infinite;
  -moz-animation:animationRotateG 6s linear infinite;
  animation:animationRotateG 6s linear infinite;
}
#medioOblivion{
  width: 10%;
  margin-top: -700px;
  margin-left: 1339px;
  -webkit-animation:animationRotateD 2s linear infinite;
  -moz-animation:animationRotateD 2s linear infinite;
  animation:animationRotateD 2s linear infinite;
}
#medioTenebrus{
  width: 2%;
  margin-top: -284px;
  margin-left: 1530px;
  -webkit-animation:animationRotateG 0.5s linear infinite;
  -moz-animation:animationRotateG 0.5s linear infinite;
  animation:animationRotateG 0.5s linear infinite;
}
/*.containerTest{
  width: 100%;

}*/
/*.repereTest{
  margin-top: 200px;

}
.test{
  width: 20%;
  height: 40%;
  background-color: #000;
}
*/
/*.containerBulleTxt{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}*/
.bulleTxt{
  position: absolute;
  background-color: #C4B1E2;
  padding: 15px 15px;
  border-radius: 30px;
  /*opacity: 0;*/
}
#bulle1{
  margin-top: -500px;
  margin-left: 100px;
  opacity: 0;
}
#bulle2{
  margin-top: -400px;
  margin-left: 150px;
  opacity: 0;
}
#bulle3{
  margin-top: -350px;
  margin-left: 380px;
  opacity: 0;
}
#bulle4{
  margin-top: -200px;
  margin-left: 300px;
  opacity: 0;
}
#bulle5{
 margin-top: -184px;
 margin-left: 900px;
 font-size: 20px; 
 font-style: italic; 
 opacity: 0;
}
#bulle6{
 margin-top: -50px;
 margin-left: 400px;
 opacity: 0;  
}
#bulle7{
  margin-top: 0px;
  margin-left: 450px;
  opacity: 0;
}
#bulle8{
  
}
#bulle9{

}


/*-----------------------------------------*/
/*    SCENE 3 : IMMERSION                         */
/*-----------------------------------------------------------*/
.scene3{
  width: 100%;
}
.planeteS3{
  width: 1000px;
  height: 1200px;
  /*min-height: 200px;*/
  margin: 0 auto;
  position: relative;
}
.ebes, .nox, .tintyph, .eldinn, .roack, .vortasgoth{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06051e+0,000000+100&0.94+1,0.93+30,0.74+47,0+60,0+100 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(6,5,30,0.94) 0%, rgba(6,5,30,0.94) 1%, rgba(4,4,21,0.93) 30%, rgba(3,3,16,0.74) 47%, rgba(2,2,12,0) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(6,5,30,0.94) 0%,rgba(6,5,30,0.94) 1%,rgba(4,4,21,0.93) 30%,rgba(3,3,16,0.74) 47%,rgba(2,2,12,0) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(6,5,30,0.94) 0%,rgba(6,5,30,0.94) 1%,rgba(4,4,21,0.93) 30%,rgba(3,3,16,0.74) 47%,rgba(2,2,12,0) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f006051e', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.ebes{
  width: 650px;
  height: 591px;
  margin-top: 170px;
  margin-left: -550px;
  display: block;
}
.ebes img{
  position: absolute;
     width: 65%;
}
#ebesPsion{ 
    -webkit-animation:animationRotateD 11s linear infinite;
    -moz-animation:animationRotateD 11s linear infinite;
    animation:animationRotateD 11s linear infinite;
}

#ebesBorderline{
    -webkit-animation:animationRotateG 6s linear infinite;
    -moz-animation:animationRotateG 6s linear infinite;
    animation:animationRotateG 6s linear infinite;
}

#ebesOblivion{
  width: 10%;
    -webkit-animation:animationRotateD 1s linear infinite;
    -moz-animation:animationRotateD 1s linear infinite;
    animation:animationRotateD 1s linear infinite;
}


.tintyph{
  width: 200px;
  height: 197px;
  margin: -400px 0px 0px 0px;
  display: block;
}
.tintyph img{
  position: absolute;
    width: 20%;
}
#tintyphAutre{
    -webkit-animation:animationRotateD 10s linear infinite;
    -moz-animation:animationRotateD 10s linear infinite;
    animation:animationRotateD 10s linear infinite;
}
#tintyphBD{
     -webkit-animation:animationRotateG 4s linear infinite;
    -moz-animation:animationRotateG 4s linear infinite;
    animation:animationRotateG 4s linear infinite;
}

.eldinn{
  width: 64px;
  height: 72px;
  margin: -250px 0px 0px 240px;
  display: block;
}
.eldinn img{
  position: absolute;
}
#eldinnOblivion{
    -webkit-animation:animationRotateD 0.5s linear infinite;
    -moz-animation:animationRotateD 0.5s linear infinite;
    animation:animationRotateD 0.5s linear infinite;
}


.dyamtirie{
  width: 300px;
  height: 296px;
  margin: -500px 0px 0px 400px;
  display: block;

}
.dyamtirie img{
  position: absolute;
  width: 30%;
}
#dyamtirieBD{
    -webkit-animation:animationRotateG 4s linear infinite;
    -moz-animation:animationRotateG 4s linear infinite;
    animation:animationRotateG 4s linear infinite;
}
#dyamtirieAutre{
    -webkit-animation:animationRotateD 1s linear infinite;
    -moz-animation:animationRotateD 1s linear infinite;
    animation:animationRotateD 1s linear infinite;
}

.roack{
  width: 152px;
  height: 144;
  margin: 290px 0px 0px 795px;
  display: block;
}
.roack img{
  position: absolute;
}
#roackAutre{
    -webkit-animation:animationRotateD 4s linear infinite;
    -moz-animation:animationRotateD 4s linear infinite;
    animation:animationRotateD 4s linear infinite;
}

.nox{
  width: 200px;
  height: 198px;
  margin: -300px 0px 0px 700px;
  display: block;
}
.nox img{
  position: absolute;
  width: 20%;
}
#noxBD{
       -webkit-animation:animationRotateG 15s linear infinite;
    -moz-animation:animationRotateG 15s linear infinite;
    animation:animationRotateG 15s linear infinite;
}
#noxAutre{
     -webkit-animation:animationRotateD 10s linear infinite;
    -moz-animation:animationRotateD 10s linear infinite;
    animation:animationRotateD 10s linear infinite;
}



.blocFluxS3{
  width: 1200px;
  margin-top: -1200px;
}
#flux1S3{
  width: 561px;
  height: 1px;
  background-image: url(imgIntro/flux1S3gg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  float: right;
  margin-right: 368px;
  margin-top: -81px;
  /*border-bottom: 1px solid #CCC;*/
}
#flux2S3{
  width: 800px;
  height: 1px;
  background-image: url(imgIntro/flux2S3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  float: left;
  position: absolute;
  margin: -200px 0px 0px -700px;
  /*overflow: hidden;*/
}


.blocHistoire{
  width: 1000px;
  margin: 0 auto;
  z-index: 1;
}
#boxHistoire{
  width: 1000px;
  height: 515px;
  /*background-color: #fff;*/
  padding: 30px 10px;
  margin: 0 auto;
  background-image: url(imgIntro/boxTkt3.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform : scale(0);
  /*transition: transform 0.3s ease-out;*/
  /*position: relative;*/
}

#boxHistoire p{
  font-size: 20px;
  width: 50%;
  height: 45%;
  overflow: hidden;
  margin: 0 auto;
  /*padding-top: 160px;*/
    /*display: block;*/
}
#fluxBTG{
  width: 333px;
  height: 1px;
  position: absolute;
  display: inline-block;
  background-image: url(imgIntro/fluxBoxTxtG.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#fluxBTD{
  width: 253px;
  height: 1px;
  position: absolute;
  display: inline-block;
  background-image: url(imgIntro/fluxBoxTxtD.png);
    background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 700px;
}
#flecheHaut{
      width: 3%;
    margin: 0 auto;
    display: block;
    margin-top: 110px;
    padding-bottom: 20px;
}
#flecheBas{
    width: 3%;
    margin: 0 auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;
}
/*-----------------------------------------*/
/*    SCENE 4 : FLUX                         */
/*-----------------------------------------------------------*/
.scene4{
  width: 100%;
}
.blocFluxS4{
  margin-top: -100px;
}
.fluxS4{
  width: 1000px;
  height: 1500px;
  margin: 0 auto;
  z-index: 0;
}
.fluxS4 div{
  position: absolute;
  height: 1px;
  background-size: 100%;
  background-repeat: no-repeat;
}
#flux1S4{
  width: 500px;
  margin-top: -200px;
  margin-left: -37px;
  background-image: url(imgIntro/fluxFinnnn1.png);

}
#flux2S4{
  width: 164px;
  margin-left: 700px;
  background-image: url(imgIntro/fluxFin2.png);
}
#flux3S4{
  width: 684px;
  margin-top: -157px;
  margin-left: 270px;
  background-image: url(imgIntro/fluxFin3.png);
}
#flux4S4{
  width: 1014px;
  margin-left: 200px;
  background-image: url(imgIntro/fluxFin4.png);
}
 

/*-----------------------------------------*/
/*    SCENE 5 : PORTAIL (fin)                         */
/*-----------------------------------------------------------*/
.scene5{
  width: 100%;
}
.blocPortail{
  width: 100%;
  height: 1000px;
  /*min-height: 200px;*/
  margin: 0 auto;
  position: relative;
}
.fondPortail{
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  display: block;
}
#portail{
  position: absolute;
  width: 800px;
  height: 800px;
  margin-left: 400px;
  margin-top: 200px;
}
#fondPortail{
  width: 100%;
  height: 100%;
}
#fondPortailAnim{
  width: 90%;
  height: 90%;
  position: absolute;
  animation: animationFrames ease-in 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease-in 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames ease-in 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames ease-in 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease-in 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.blocPortail a{
  margin-top: -450px;
  margin-left: 740px;
  display: block;
  position: absolute;
}



@keyframes animationBreath{
  0% {opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
  50% {opacity:0.63; transform:  scaleX(1.02) scaleY(1.02) ; }
  100% {opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
}

@-moz-keyframes animationBreath{
  0% {opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
  50% {opacity:0.63; transform:  scaleX(1.02) scaleY(1.02) ; }
  100% {opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
}

@-webkit-keyframes animationBreath {
  0% {opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
  50% {opacity:0.63; transform:  scaleX(1.02) scaleY(1.02) ; }
  100% { opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
}

@-o-keyframes animationBreath {
  0% {opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
  50% { opacity:0.63; transform:  scaleX(1.02) scaleY(1.02) ; }
  100% { opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
}

@-ms-keyframes animationBreath {
  0% {opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
  50% {opacity:0.63; transform:  scaleX(1.02) scaleY(1.02) ; }
  100% {opacity:1; transform:  scaleX(1.00) scaleY(1.00) ; }
}




@keyframes animationRotateD{ 100% {transform:rotate(360deg);} }
@-moz-keyframes animationRotateD { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes animationRotateD { 100% { -webkit-transform: rotate(360deg); } }

@keyframes animationRotateG{ 100% {transform:rotate(-360deg);} }
@-moz-keyframes animationRotateG { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes animationRotateG { 100% { -webkit-transform: rotate(-360deg); } }