@import url('https://fonts.googleapis.com/css?family=Roboto');
*{ 
  margin:0;
  padding:0;
}

html,body{
  height:100%;
  background-color: #1D010F;
  background:  url('img/bgPartie5.jpg') no-repeat ;
  background-size: 100% 100%;
  font-family: 'Roboto', sans-serif;

}


/*LOAD*/
@-webkit-keyframes changes {
0% { background-color: #7a7a9b;}
10% { background-color: #ae97b1;}
20% {background-color: #6e6c6c;}
30% { background-color: #485858;}
40% { background-color: #7a9b85;}
50% {background-color: #b7b1a8;}
60% { background-color: #999b7a;}
70% { background-color: #705b5a;}
80% { background-color: #584858;}
90% {background-color: #4d5151;}
100% { background-color: #7a7a9b;}
}
@keyframes changes {
0% {background-color: #7a7a9b;}
10% { background-color: #ae97b1;}
20% { background-color: #6e6c6c;}
30% {background-color: #485858;}
40% {background-color: #7a9b85;}
50% { background-color: #b7b1a8;}
60% {background-color: #999b7a;}
70% { background-color: #705b5a;}
80% {background-color: #584858;}
90% {background-color: #4d5151;}
100% {background-color: #7a7a9b;}
}
#oLoading:hover {
-webkit-animation-name: changes;
-webkit-animation-duration: 10s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
animation-name: changes;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

#oLoading{
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:100;
  background:#ae97b1;
}

#oLoading div{
  position:absolute;
  top:50%;
  left:50%;
  width:255px;
  height:242px;
  margin-left:-148px;
  margin-top:-107px;

  color:#fff;
  font-family:Arial;
  text-align:center;
}


#oLoading div img{
  width: 90%;
  position:relative;
  vertical-align:middle;
  top:-2px;
  margin:0 3px 0 0;
}


/*BOUTON REPLI MENU*/
.btnRepli{
  position: absolute;
  bottom: 10;
  left: 10;
  width: 200px;
  /*height: 75px;*/
  background-color: #FFAC3C;
  border-radius: 10px;
  cursor:pointer;
}
.btnRepli p{
  padding: 5% 15%;
}

.retour{
  width: 250px;
  position: absolute;
  bottom: 10;
  left: 250;
  background-color: #FFAC3C;
  border-radius: 10px;
}
.retour p{
    padding: 5% 9%;
}
.retour a{
   text-decoration: none;
}


audio{
  position: absolute;
  z-index: 2;
  border-radius: 10px;
}




/*MENU CHAPITRES */
.menuChapitres{
  position: relative;
  /*display: inline-block;*/
  margin: 0 auto;
  width: 90%;
  height: 90%; 
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#95f9db+0,ffffff+100&0.5+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(149,249,219,0.6) 0%, rgba(149,249,219,0.6) 100%); /* FF3.6-16 */
  background: -webkit-linear-gradient(top, rgba(149,249,219,0.6) 0%,rgba(149,249,219,0.6) 100%); /* Chrome10-26,Safari6.1-6 */
  background: linear-gradient(to bottom, rgba(149,249,219,0.6) 0%,rgba(149,249,219,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8095f9db', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */
  border-radius: 10px;
}
h1{
  text-align: center;
  padding: 2%;
}


.navChapitres ul{
  list-style: none;
}
.navChapitres li{
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5fff0+0,e5fff0+100&0.5+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(229,255,240,0.5) 0%, rgba(229,255,240,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(229,255,240,0.5) 0%,rgba(229,255,240,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(229,255,240,0.5) 0%,rgba(229,255,240,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e5fff0', endColorstr='#80e5fff0',GradientType=0 ); /* IE6-9 */
  border-radius: 10px;
  padding: 20px 10px;
  margin: 20px 10px;
  -webkit-transition: opacity 0.5s;/* Safari */
  transition: opacity 0.5s;
}
.navChapitres li img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  opacity: 0.6;
/*  -webkit-transition: opacity 0.5s; Safari 
    transition: opacity 0.5s;*/
}
.navChapitres li a{
    width: 200px;
   height: 200px;
     padding: 20px 10px;
    text-decoration: none;
    color: #27A57B;
}
.navChapitres li:hover{
  background: -moz-linear-gradient(top, rgba(229,255,240,0.8) 0%, rgba(229,255,240,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(229,255,240,0.8) 0%,rgba(229,255,240,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(229,255,240,0.8) 0%,rgba(229,255,240,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e5fff0', endColorstr='#80e5fff0',GradientType=0 ); /* IE6-9 */
  border-radius: 10px;
  padding: 20px 10px;
}
.navChapitres li:hover img{
  opacity: 1;
}
.navChapitres li:hover a{
  color: #3BED8B;
}


.navContact{
  position: absolute;
  bottom: 0;
  right: 0;
}
.navContact ul{
  list-style: none;
}
.navContact li a{
    text-decoration: none;
    color: #27A57B;
}
.navContact li{
    display: inline-block;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(229,255,240,0.5) 0%, rgba(229,255,240,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(229,255,240,0.5) 0%,rgba(229,255,240,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(229,255,240,0.5) 0%,rgba(229,255,240,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e5fff0', endColorstr='#80e5fff0',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    padding: 3px 5px;
     margin: 20px 5px;
}


.navContact li:hover{
  background: -moz-linear-gradient(top, rgba(229,255,240,0.8) 0%, rgba(229,255,240,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(229,255,240,0.8) 0%,rgba(229,255,240,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(229,255,240,0.8) 0%,rgba(229,255,240,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e5fff0', endColorstr='#80e5fff0',GradientType=0 ); /* IE6-9 */
}
.navContact li:hover a{
  color: #3BED8B;
}